$brand-color: cadetblue;
$default-bg-color: antiquewhite;

$header-bg-color: $brand-color;
$header-text-color: $default-bg-color;

$section-secondary-bg-color: $default-bg-color;
$section-primary-bg-color: $brand-color;

$footer-text-color: $default-bg-color;
$footer-links-color: white;

@import 'mustard-ui/mustard-ui.scss';

.footer-text a {
    color: $footer-links-color;
}

.icon {
    margin: 5px 1px 1px 1px;
    height: 10pt;
    width: auto;
    vertical-align: top;
}
